input{
    border: none;
    width: 300px;
    height: 30px;
}
input:focus{
    outline-width: 0;
}
legend{
    color: gray;
    font-size: small;
}
fieldset{
    padding: 2px 5px;
    border-radius: 5px;
}