<div class="project-edit-form-container">
    <form [formGroup]="projectEditFormGroup" (ngSubmit)="onSubmit()">
        <div class="project-edit-form-row">
            <app-form-input type='text' formControlName='name' label="{{'COMMON.NAME'|translate}}" placeholder="{{'COMMON.ADD_NAME'|translate}}">
            </app-form-input>
        </div>
        <div class="project-edit-form-row">
            <app-form-input type='text' formControlName='description' label="{{'COMMON.DESCRIPTION'|translate}}" placeholder="{{'COMMON.ADD_DESCRIPTION'|translate}}">
            </app-form-input>
        </div>
        <app-submit-button text="{{'COMMON.EDIT'|translate}}"></app-submit-button>
    </form>
</div>